/*remove all default margin padding from elements*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.cv{
    width:100%;
    height: 100%;
    display:flex;
    
}
.left{
    flex-grow: 1;
    background: #22c2fc;
    flex-basis: 100px;
    display: flex;
    flex-direction: column;

}

.left .profile img{
    width: 100%;
}

.title{ 
    font-weight: 700;
    font-size:20px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.subtitle{
    font-weight: 500;
    font-size:16px;
}
ul{
    list-style: none;
}
li{
    display: flex;
}
.icon{
    padding-right: 10px;
}

.item{
    border-bottom: 2px solid #b1eaff;
    padding: 25px 15px;
}
.skills{
    display: flex;
    flex-direction: column;
}
.content{
    display:flex;
    justify-content: space-between;
    color:#b1eaff
}
.language{
    width: 25%;
}
.progBar{
    width: 60%;
    margin: 0 7px;
    height: 5px;
    background: #009fd9;
    position: relative;
}
.progPer{
    width: 15%;
}
.progBar span{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    background: #fff;
}
.acc{
    display: flex;
}

.item:last-child{
    border-bottom: 0;
}
.right{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
