/*remove all default margin padding from elements*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.cv{
    width:100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
}
.left{
    flex:0 1 15%;
    background: #22c2fc;
    display: flex;
    flex-direction: column;
}
.left .profile{
   flex:1;
   flex:0 1 10%;
}
.left .profile img{
   width:100%;
 }
.title{     
    font-weight: 900;
    font-size:20px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.subtitle{
    font-weight: 700;
    font-size:16px;
    padding-bottom: 30px;
}
.personalInfo{
    flex:0 1 30%;
}
.description{
    color:#b1eaff;
}
ul{
    list-style: none;
}
li{
    display: flex;
}
.icon{
    padding-right: 10px;
}

.item{
    border-bottom: 2px solid #b1eaff;
    padding: 25px 15px;
}
.skills{
    display: flex;
    flex-direction: column;
    flex:0 1 30%;
}
.skills .content{
    display:flex;
    justify-content: space-between;
    color:#b1eaff
}
.language{
    flex:0 1 25%;
}
.progBar{
    flex:0 1 60%;
    margin: 0 5px;
    height: 5px;
    background: #009fd9;
    position: relative;
}
.progPer{
    flex:0 1 15%;
}
.progBar span{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    background: #fff;
}

.social{
    display: flex;
    flex-direction: column;
    flex:0 1 30%;
}
.social .acc{
    display: flex;
    flex-wrap:wrap;
    min-height: 0;
}
.item:last-child{
    border-bottom: 0;
}
.right{
    flex:0 1 85%;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.right .title{
    color:#009fd9;
}

.description,.date{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.education{
    display: flex;
    flex-direction: column;
}
.education ul li{
    display: flex;
    flex-direction: column;
   padding-bottom: 30px;
}

.right .hobbies i{
    display: flex;
}


.hobbies-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.hobbies-list .icon{
    font-size: 20px;
    width: 80px;
    height: 80px;
    border:2px solid #009fd9;
    border-radius: 50%;
    color:#009fd9;
    position: relative;
}

.hobbies-list .icon i{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

