/*remove all default margin padding from elements*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.cv{
    width:100%;
    height: 100%;
    display:flex;
    
}
.left{
    flex-grow: 1;
    background: #22c2fc;
}
.right{
    flex-grow:4;
}

